{% extends "layout.html" %}

{% block content %}
<section class="bg-transparent p-3 m-0 ty-content">
    <div class="bg-transparent demo-container" id="image-demo">
        <div class="ty-center ty-app d-flex flex-column align-items-center justify-content-center">
            <input type="button" class='btn btn-success shadow mb-3 w-25' onclick="location.href='/reconhecimento_facial/';" value="Reconhecimento Facial" />
            <input type="button" class='btn btn-success shadow w-25'onclick="location.href='/renach/';" value="Renach" />
        </div>
    </div>
</section>
<section>
    <img src="/static/img/VERT_RODAPE.png" style="width: 100vw; height: calc(100vw/12.8); bottom: 0; position: absolute;">
</section>
{% endblock %}