{% extends "layout.html" %}

{% block content %}
  <div class="d-flex w-100 h-100 p-3 mx-auto flex-column ty-wrapper">
    <article>
      <header>
        <div class="ty-header-div" style="text-align: center;">
          <h1 class="ty-title">Vert Analytics</h1>
          <h2 class="ty-subtitle">Ninjas em ação</h2>
        </div>
      </header>
      <section class="ty-content">
        <div class="ty-showcase">
          <div class="ty-showcase-content" style="text-align: center;">
            <h2>Reconhecimento Facial</h2>
            <img src="../uploads/first_image.jpg" style="width: 200px; height: 200px; object-fit: contain;">
            <img src="../uploads/second_image.jpg" style="width: 200px; height: 200px; object-fit: contain;">
            <p class="ty-text-body", style="color: green;">A pessoa das fotos é a mesma!</p>
            <button onclick="window.history.back()">Clique para voltar</button>
          </div>
        </div>
      </section>
    </article>
  </div>
{% endblock %}