{% extends "layout.html" %}

{% block content %}
  <div class="d-flex w-100 h-100 p-3 mx-auto flex-column ty-wrapper">
    <article>
      <header>
        <div class="ty-header-div" style="text-align: center;">
          <h1 class="ty-title">Vert Analytics</h1>
          <h2 class="ty-subtitle">Ninjas em ação</h2>
        </div>
      </header>
      <section class="ty-content">
        <div class="ty-showcase">
          <div class="ty-showcase-content" style="text-align: center;">
            <h2>Reconhecimento Facial</h2>
            <p class="ty-text-body", style="color: red;">As pessoas das fotos não são a mesma!</p>
          </div>
        </div>
      </section>
    </article>
  </div>
{% endblock %}