{% extends "layout.html" %}

{% block content %}
<section class="bg-transparent p-0 m-0 ty-content d-flex flex-column align-items-center justify-content-center">
  <div class="w-50 text-light">
    <h2 class="text-center font-weight-bold">Reconhecimento Facial</h2>
    <p style="text-align-last: center;" class="text-justify ty-text-body">Computer vision analyzes and interprets what's in a picture or video. AI solutions from SAS use computer vision to help you accelerate intelligent automation with simple tools for image processing, image recognition, and object detection.</p>
  </div>
  <!-- DEMO -->
  <div class="bg-transparent demo-container" id="image-demo">
    <div class="ty-center ty-app d-flex flex-column align-items-center justify-content-center">
      <form class="d-flex flex-column align-items-center justify-content-center" action="/reconhecimento_facial/upload" enctype="multipart/form-data" method="post" style='z-index: ;'>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input id="first_image" type="file" class="custom-file-input" name="first_image" accept="image/*">
            <label id="labelGroupFile01" class="custom-file-label" for="first_image">Escolha uma foto</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input id="second_image" type="file" class="custom-file-input" name="second_image" accept="image/*">
            <label id="labelGroupFile02" class="custom-file-label" for="second_image">Escolha uma foto</label>
          </div>
        </div>
        <div class="d-flex">
          <a href="/" class="btn btn-warning m-1">Voltar</a>
          <input type="submit" class="btn btn-success m-1" value="Enviar">
        </div>
        <div id="loader" class="loader"></div>
      </form>
    </div>
  </div>
  <!-- END DEMO -->
</section>
{% endblock %}
