{% extends "layout.html" %}

{% block content %}
  <div class="d-flex w-100 h-100 p-3 mx-auto flex-column ty-wrapper">
    <article>
      <header>
        <div class="ty-header-div" style="text-align: center;">
          <h1 class="ty-title">Vert Analytics</h1>
          <h2 class="ty-subtitle">Ninjas em ação</h2>
        </div>
      </header>
      <section class="ty-content">
        <div class="ty-showcase">
          <div class="ty-showcase-content">
            <h2 style="text-align: center;">Reconhecimento Facial</h2>
            <p class="ty-text-body">Computer vision analyzes and interprets what's in a picture or video. AI solutions from SAS use computer vision to help you accelerate intelligent automation with simple tools for image processing, image recognition, and object detection.</p>
          </div>
        </div>
        <!-- DEMO -->
          <div class="demo-container" id="image-demo">
            <div class="ty-center ty-app">
              <div class="try-it ty-app">Tente!</div>
              <form action="/reconhecimento_facial/upload" enctype="multipart/form-data" method='post'>
                <input type="file" name="first_image" accept="image/*">
                <input type="file" name="second_image" accept="image/*">
                <input type="submit">
              </form>
            </div>
          </div>
        <!-- END DEMO -->
      </section>
    </article>
  </div>
{% endblock %}
